@{
    Layout = "_LayoutCasa";
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Estoy agregando una nueva vista y pagina la cual usara otro Layout en este caso _LayoutCasa.cshtml.</p>
</div>
<div>
    <h2>
        <a href="#" class="btn btn-success" onclick=alert("Practica");>MIBoton</a>
    </h2>
</div>
