/Ejercicios3y4/Ejercicios/.vs/
/Ejercicios3y4/Ejercicios/ProyectoColleccion/obj/
/Ejercicios3y4/Ejercicios/ProyectoColleccion/bin/
/Ejercicios3y4/Ejercicios/.vs/
.vs/
/Ejercicios3y4/Ejercicios/WebApiMia/obj/
/Ejercicios3y4/Ejercicios/WebApiMia/bin/