html {
  font-size: 16px;
  background-color:burlywood;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.encabezado{
    height:90px;
    width:100%;
    background-color:brown;
    border:2px solid yellow;
}
.principal{
    background-color:#4cff00;
    display:flex
    
}
.row {
    justify-content:center;
}
.circulo{
    width:180px;
    height:180px;
    border:2px solid #1f8207;
    border-radius:50%;
    background-color:#00ff90;
    padding:10px;
    margin:20px;
    align-items:center;
    display:flex;
    flex-direction:row;
    justify-content:center;
    
}
.circulo p{
    color:#0a3292;
    
    font-weight:900;
   
}

