html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
table{
    border: 2px double green;
    background-color:aqua;
    margin-left:50px;
    padding:3px;
}
table thead {
    background-color:brown;
}
